<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    
    <application
        android:label="${appLabel}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DisconnectRecoveryActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:process=":disconnect_recovery"
            android:taskAffinity="${applicationId}.disconnect_recovery"
            android:theme="@style/DisconnectRecoveryTheme" />
        
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>

        <!-- VPN Service -->
        <service
            android:name=".SsrvpnVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        
        <!-- 快速设置磁贴 -->
        <service
            android:name=".VpnTileService"
            android:exported="true"
            android:icon="@drawable/ic_vpn_tile"
            android:label="${appLabel}"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <!-- domestic-app-bypass:start -->
        <!-- Android 11+ visibility for DomesticAppBypassPolicy.packageNames. -->
        <package android:name="air.tv.douyu.android" />
        <package android:name="bubei.tingshu" />
        <package android:name="chuxin.shimo.shimowendang" />
        <package android:name="cmb.pb" />
        <package android:name="cmccwm.mobilemusic" />
        <package android:name="cn.com.cmbc.newmbank" />
        <package android:name="cn.com.langeasy.LangEasyLexis" />
        <package android:name="cn.com.spdb.mobilebank.per" />
        <package android:name="cn.cyberIdentity.certification" />
        <package android:name="cn.kuwo.player" />
        <package android:name="cn.ninebot.ninebot" />
        <package android:name="cn.samsclub.app" />
        <package android:name="cn.soulapp.android" />
        <package android:name="cn.wps.moffice_eng" />
        <package android:name="cn.wps.moffice_eng.xiaomi.lite" />
        <package android:name="cn.xuexi.android" />
        <package android:name="cn.yonghui.hyd" />
        <package android:name="com.MobileTicket" />
        <package android:name="com.Qunar" />
        <package android:name="com.able.wisdomtree" />
        <package android:name="com.ai.obc.cbn.app" />
        <package android:name="com.alibaba.aliyun" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.alibaba.wireless" />
        <package android:name="com.alicom.smartdail" />
        <package android:name="com.android.bankabc" />
        <package android:name="com.antfortune.wealth" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.baidu.netdisk" />
        <package android:name="com.baidu.tieba" />
        <package android:name="com.bankcomm.Bankcomm" />
        <package android:name="com.bilibili.comic" />
        <package android:name="com.cainiao.wireless" />
        <package android:name="com.cctv.yangshipin.app.androidp" />
        <package android:name="com.cebbank.mobile.cemb" />
        <package android:name="com.chaoxing.mobile" />
        <package android:name="com.chinamworld.bocmbci" />
        <package android:name="com.chinamworld.main" />
        <package android:name="com.cmcc.cmvideo" />
        <package android:name="com.coolapk.market" />
        <package android:name="com.ct.client" />
        <package android:name="com.cubic.autohome" />
        <package android:name="com.dada.mobile.shop.android" />
        <package android:name="com.deepseek.chat" />
        <package android:name="com.dianping.v1" />
        <package android:name="com.didapinche.booking" />
        <package android:name="com.dothantech.android.yinlifun" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.dragon.read" />
        <package android:name="com.duokan.phone.remotecontroller" />
        <package android:name="com.duowan.kiwi" />
        <package android:name="com.eastmoney.android.berlin" />
        <package android:name="com.eastmoney.android.fund" />
        <package android:name="com.ecitic.bank.mobile" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.fcbox.hivebox" />
        <package android:name="com.fenbi.android.leo" />
        <package android:name="com.fenbi.android.solar" />
        <package android:name="com.greenpoint.android.mc10086.activity" />
        <package android:name="com.handsgo.jiakao.android" />
        <package android:name="com.huaxiaozhu.rider" />
        <package android:name="com.hunantv.imgo.activity" />
        <package android:name="com.hupu.games" />
        <package android:name="com.icbc" />
        <package android:name="com.ifeng.news2" />
        <package android:name="com.jd.jrapp" />
        <package android:name="com.jingdong.app.mall" />
        <package android:name="com.jingdong.pdj" />
        <package android:name="com.jingyao.easybike" />
        <package android:name="com.kmxs.reader" />
        <package android:name="com.kuaikan.comic" />
        <package android:name="com.kuaishou.nebula" />
        <package android:name="com.kugou.android" />
        <package android:name="com.lanjinger.choiassociatedpress" />
        <package android:name="com.larus.nova" />
        <package android:name="com.lemon.lv" />
        <package android:name="com.lphtsccft" />
        <package android:name="com.lucky.luckyclient" />
        <package android:name="com.luna.music" />
        <package android:name="com.max.xiaoheihe" />
        <package android:name="com.mcdonalds.gma.cn" />
        <package android:name="com.mi.car.mobile" />
        <package android:name="com.mi.earphone" />
        <package android:name="com.mi.health" />
        <package android:name="com.mipay.wallet" />
        <package android:name="com.miui.calculator" />
        <package android:name="com.miui.cleanmaster" />
        <package android:name="com.miui.compass" />
        <package android:name="com.miui.findmy" />
        <package android:name="com.miui.gallery" />
        <package android:name="com.miui.mediaeditor" />
        <package android:name="com.miui.newmidrive" />
        <package android:name="com.miui.notes" />
        <package android:name="com.miui.password" />
        <package android:name="com.miui.screenrecorder" />
        <package android:name="com.miui.securitymanager" />
        <package android:name="com.miui.themestore" />
        <package android:name="com.miui.virtualsim" />
        <package android:name="com.miui.voiceassistProxy" />
        <package android:name="com.miui.weather2" />
        <package android:name="com.moonshot.kimichat" />
        <package android:name="com.mt.mtxx.mtxx" />
        <package android:name="com.mxbc.mxsa" />
        <package android:name="com.netease.cloudmusic" />
        <package android:name="com.netease.newsreader.activity" />
        <package android:name="com.netease.uuremote" />
        <package android:name="com.nowcasting.activity" />
        <package android:name="com.pupumall.customer" />
        <package android:name="com.qidian.QDReader" />
        <package android:name="com.qiyi.video" />
        <package android:name="com.qiyi.video.lite" />
        <package android:name="com.sankuai.meituan" />
        <package android:name="com.sankuai.meituan.takeoutnew" />
        <package android:name="com.sdu.didi.psnger" />
        <package android:name="com.sf.activity" />
        <package android:name="com.sgcc.wsgw.cn" />
        <package android:name="com.shizhuang.duapp" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.sina.weibolite" />
        <package android:name="com.sinovatech.unicom.ui" />
        <package android:name="com.smile.gifmaker" />
        <package android:name="com.smzdm.client.android" />
        <package android:name="com.sohu.sohuvideo" />
        <package android:name="com.ss.android.article.news" />
        <package android:name="com.ss.android.article.video" />
        <package android:name="com.ss.android.auto" />
        <package android:name="com.ss.android.lark" />
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
        <package android:name="com.ss.android.ugc.livelite" />
        <package android:name="com.taobao.idlefish" />
        <package android:name="com.taobao.taobao" />
        <package android:name="com.taobao.trip" />
        <package android:name="com.tencent.docs" />
        <package android:name="com.tencent.hunyuan.app.chat" />
        <package android:name="com.tencent.karaoke" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.news" />
        <package android:name="com.tencent.nrc" />
        <package android:name="com.tencent.qqlive" />
        <package android:name="com.tencent.qqmusic" />
        <package android:name="com.tencent.tim" />
        <package android:name="com.tencent.wemeet.app" />
        <package android:name="com.tencent.weread" />
        <package android:name="com.tencent.wetype" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.tmall.wireless" />
        <package android:name="com.tmri.app.main" />
        <package android:name="com.umetrip.android.msky.app" />
        <package android:name="com.unionpay" />
        <package android:name="com.wanbangauto.chargepile" />
        <package android:name="com.wm.dmall" />
        <package android:name="com.wondertek.paper" />
        <package android:name="com.wuba" />
        <package android:name="com.wuba.zhuanzhuan" />
        <package android:name="com.wudaokou.hippo" />
        <package android:name="com.xiaomi.mibrain.speech" />
        <package android:name="com.xiaomi.scanner" />
        <package android:name="com.xiaomi.shop" />
        <package android:name="com.xiaomi.smarthome" />
        <package android:name="com.xiaomi.superhexa" />
        <package android:name="com.xiaomi.vipaccount" />
        <package android:name="com.xiaomi.youpin" />
        <package android:name="com.ximalaya.ting.android" />
        <package android:name="com.ximalaya.ting.lite" />
        <package android:name="com.xingin.xhs" />
        <package android:name="com.xueqiu.android" />
        <package android:name="com.xunmeng.pinduoduo" />
        <package android:name="com.yek.android.kfc.activitys" />
        <package android:name="com.yiche.autoeasy" />
        <package android:name="com.yitong.mbank.psbc" />
        <package android:name="com.youku.phone" />
        <package android:name="com.yuque.mobile.android.app" />
        <package android:name="com.zhihu.android" />
        <package android:name="com.zuoyebang.knowledge" />
        <package android:name="ctrip.android.view" />
        <package android:name="me.ele" />
        <package android:name="tv.acfundanmaku.video" />
        <package android:name="tv.danmaku.bili" />
        <package android:name="tv.danmaku.bilibilihd" />
        <!-- domestic-app-bypass:end -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
